[user]
	name = Damir Makhmutov
	email = iam@damir.space
	username = damirm

[core]
    editor = /usr/bin/nvim
    excludesfile = ~/.gitignore

[color]
    ui = auto

[init]
    defaultBranch = main

[pull]
	rebase = true
